@tailwind base;
@tailwind components;
@tailwind utilities;

#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
	border-radius: 10px;
}

#scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: ;
}

#scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(52, 106, 213)),
									   color-stop(0.86, rgb(45, 81, 190)));
}